<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_drz.yaml" command="load" />

    <node pkg="tf" type="static_transform_publisher" name="baselink_BodyFLU_broadcaster" args="0 0 0 0 0 0 1 base_link body_FLU 100" />
    <node pkg="tf" type="static_transform_publisher" name="baselink_os_broadcaster" args="0.032 0.083 -0.217 0.7071 -0.7071 0 0 base_link os_lidar 100" />

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <!--include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />-->

    <!--- Run Navsat -->
    <!--<include file="$(find lio_sam)/launch/include/module_navsat.launch" />-->

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
